[user]
  name = crunchysoul
	email = zzzcca12@gmail.com
[includeIf "gitdir:$CODE/projects-isobar/"]
	path = $CODE/projects-isobar/.gitconfig
[includeIf "gitdir:$CODE/projects-handdii/"]
	path = $CODE/projects-handdii/.gitconfig
[includeIf "gitdir:$CODE/projects-crypto-com/"]
	path = $CODE/projects-crypto-com/.gitconfig
[includeIf "gitdir:$CODE/projects-crunchysouldev/"]
	path = $CODE/projects-crunchysouldev/.gitconfig
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = $HOME/.gitignore_global
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
