[user]
  name = crunchysoul
	email = zzzcca12@gmail.com
[includeIf "gitdir:~/codes/projects-isobar/"]
	path = ~/codes/projects-isobar/.gitconfig
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = /Users/joshua.chenzhao/.gitignore_global
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
