[user]
	name = crunchysoul
	email = zzzcca12@gmail.com
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = /Users/joshuazhao/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/joshuazhao/.stCommitMsg
